* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.popup {
    display: none;
}


.header-title {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #545454;
    padding-top: 30px;
    padding-left: 40px;
    cursor: pointer;
}

.header-title:hover {
    color: #F1CDB3;
}

.header-text {
    font-family: 'Arial', sans-serif;
    color: #292929;
    padding-left: 44px;
    font-size: 13px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    height: 120px;
}

.header-btn {
    width: 60px;
    height: 60px;
    margin-top: 31px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    display: none;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #000000;
    margin: 5px 0;
}

.menu {
    padding-left: 0;
    margin-left: 0;
    width: 443px;
}

.menu-wrap {
    position: absolute;
    right: 40px;
    top: 76px;
}

.menu-list {
    display: flex;
}

.menu-list_item {
    display: inline-block;
    padding-left: 35px;
}

.menu-list_link {
    display: block;
    height: 27px;
    font-family: 'Arial', sans-serif;
    color: #545454;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
}

.menu-list_link:hover {
    border-bottom: 3px solid #F1CDB3;
}

.menu-list_link-active {
    border-bottom: 3px solid #F1CDB3;
}

.menu-list_link-active:hover {
    cursor: pointer;
}

#slider {
    background-color: #F6F6F6;
    min-height: 1342px;
}

.slider-title {
    text-align: center;
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*font-size: 35px;*/
    font-size: calc(25px + 10 * (100vw / 1280));
    line-height: 45px;
    color: #545454;
    padding-top: 80px;
}

.slider-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    margin: 15px 20px;
}

.slider-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.slider-card_pet {
    width: 270px;
    height: 270px;
    margin: -13px;
}

.slider-card_name {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
}

.slider-card_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia', sans-serif;
    font-size: 17px;
    color: #292929;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 30px;
}

.slider-card_search:hover {
    background-color: #F1CDB3;
}

.buttons {
    display: flex;
    margin-top: 40px;
    padding-bottom: 76px;
    justify-content: center;
}

.button-paginator {
    width: 52px;
    height: 52px;
    border: 0 solid #F1CDB3;
    border-radius: 50%;
    margin-left: 20px;
}

.button-active:hover {
    cursor: pointer;
    background-color: #F1CDB3;
}


#footer {
    background: radial-gradient(100% 215.42% at 0% 0%, #513D2F 0%, #1A1A1C 100%),
    linear-gradient(0deg, #211F20, #211F20);
    background-size: 100% 100%;
}

.footer-inform {
    display: flex;
    justify-content: flex-start;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
}

.footer-linc {
    margin-left: 17px;
}

.footer-title {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*font-size: 35px;*/
    font-size: calc(25px + 10 * (100vw / 1280));
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 56px 40px;
}

.footer-title-two {
    margin-left: 6px;
}


.footer-icons {
    display: flex;
    width: 239px;
    height: 32px;
    margin-top: 44px;
}

.footer-icon {
    width: 40px;
    height: 32px;
    margin: 0 0 0 40px;
}

.footer-ic {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.footer-linc {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #F1CDB3;
}


.footer-info {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    width: 302px;
    height: 46px;
    display: flex;
    align-items: center;
}

.footer-map {
    font-size: 20px;
    letter-spacing: 0.06em;
    padding-left: 20px;
    max-width: 260px;

}

.footer-img {
    display: flex;
    width: 300px;
    height: 310px;
    margin: auto;
}
@media (max-width: 1239px) {
    .slider-card-vis_freddie, .slider-card-vis_scarlet {
        display: none;
    }
}


@media (max-width: 768px) {

    .menu-wrap {
        position: absolute;
        padding-left: 265px;
        top: 46px;
    }

    .menu-list {
        font-size: 15px;
    }

    .footer-inform {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-items-one {
        margin: 0;
    }

    .footer-items:nth-child(2) {
        margin: 0;
    }

    .footer-img {
        margin: 60px auto auto;
    }

}

@media (max-width: 690px) {
    .menu {
        display: none;
    }

    .header-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

}
@media (max-width: 690px) {
    .slider-card-vis {
        display: none;
    }
}

@media (max-width: 320px) {
    .popup.open {
        left: 0;
    }
    .menu {
        display: none;
    }

    .header-btn {
        display: flex;
        width: 30px;
        height: 32px;
        margin: -53px 257px;
    }

    .slider-title {
        /*font-size: 25px;*/
        line-height: 32px;
        text-align: center;
        padding: 42px 10px;
    }

    .slider-card {
        margin-bottom: 20px;
    }

    .button-paginator {
        margin-left: 2px;
    }


    #footer {
        max-width: 320px;
    }

    .footer-info {
        max-width: 258px;
    }

    .footer-title {
        margin: 30px 44px;
    }

    .footer-title-two {
        margin: 44px 0;
        padding-left: 38px;
    }

    .footer-items {
        margin: 30px 61px 45px 64px;
    }

    .footer-items-one {
        margin: 0;
    }

    .footer-item {
        margin-left: 10px;
    }

    .footer-items:nth-child(2) {
        margin: 2px;
    }

    .footer-img {
        width: 260px;
        height: 269px;
    }

    .footer-icons, .footer-item {
        margin-top: 20px;
    }
}


